:root {
    --dark: #1b1e21;
    --light: #818182;
    --white: white;
    --green: #28a745;
}

header {
    background-color: var(--dark);
    display: flex;
}

main {
    margin: 50px 5%;
}

article {
    margin-bottom: 5%;
}

.logo {
    margin: 1% 3%;
    max-width: 70px;
    width: 4%;
}

.navBar {
    flex-grow: 2;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.navBar__item {
    color: var(--light);
    text-decoration: none;
    margin-right: 2%;
}

.texto--blanco:hover {
    color: var(--white);
}

.card-productos {
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
}

.card-productos__navegacion {
    display: flex;
    overflow-x: scroll;
}

.card-productos__producto {
    text-decoration: none;
    color: var(--green);
    padding: 5px 10px;
    box-shadow: 0px 0px 2px gray;
    flex: 0 0 auto;
}

.fondo--verde:hover {
    background-color: var(--green);
}

.card-productos__contenido {
    display: flex;
}

.card-productos__imagen {
    width: 50%;
    border-radius: 0 0 0 5px;
}

.card-productos__texto {
    margin-left: 2%;
    margin-top: 2%;
}

.etapas {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.etapas__item {
    border: 1px solid black;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    background: rgb(40, 167, 69);
    background: linear-gradient(0deg, rgba(40, 167, 69, 1) 0%, rgb(6, 118, 30) 100%);
    color: var(--white)
}
.etapas__item:hover {
    box-shadow: 0 0 10px var(--white) inset;
}